# Node
node_modules/
npm-debug.log
yarn-error.log
*.log
*.tsbuildinfo

# React Native / Metro
*.jsbundle
.metro-health-check*

# macOS
.DS_Store

# IDEs
.idea/

# Android
build/
*.iml
.gradle
local.properties
.cxx/
*.keystore
!debug.keystore
captures/
*.apk
*.aab
*.ap_

# iOS
**/Pods/
DerivedData/
ios/appClient.xcworkspace/xcuserdata/
ios/appClient.xcodeproj/project.xcworkspace/xcuserdata
*.xcscmblueprint

# Ruby / Bundler
vendor/
.bundle/

# Env
.env
